.lead {
  max-width: 984px;
  width: 100%;
  box-sizing: border-box;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 1279px) {
  .lead {
    width: calc(100% - 48px - 48px);
  }
}
@media screen and (max-width: 864px) {
  .lead {
    width: 768px;
  }
}
@media screen and (max-width: 787px) {
  .lead {
    width: 100%;
  }
}


